.button-new {
    color: #fff;
    font-weight: 600;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(39,174,96);
    height: 36px;
    font-size: 14px;
    -webkit-font-feature-settings: "smcp", "c2sc";
    font-feature-settings: "smcp", "c2sc";
    font-variant: all-small-caps;
    padding: 0px 14px;
    margin-top: 14px;
    margin-bottom: 18px;
    border-radius: 6px;
    outline: 0;
    span {
        margin-top: -3px;
    }
}
.button-new:focus {
    outline: 0;
}
.button-footer {
    color: #fff ;
    font-weight: 700;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(39,174,96) ;
    height: 36px;
    font-size: 18px;
    -webkit-font-feature-settings: "smcp", "c2sc";
    font-feature-settings: "smcp", "c2sc";
    font-variant: all-small-caps;
    border-radius: 6px;
    padding-top: 1px;
    margin: 5px;
}
.button-footer:focus {
    outline: 0;
}
.radio-input {
    .radio-button {
        padding: 0px;
    }
    .button-radio-title {
        padding: 0px 12px;
    }
}
.checkbox-input {
    span {
        padding: 0;
    }
    .button-checkbox-title {
        padding-left: 12px !important;
    }
}
.tooltip-button {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 1px 12px 5px 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
}
.tooltip-button:hover {
    background-color: #2198bc14;
}
.tooltip-disabled {
    cursor: text;
}
.tooltip-disabled:hover {
    background: none;
}