/*color*/
/*end color*/
/*font-family*/
/*end font-family*/
a {
  text-decoration: none; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

body {
  font-family: "Roboto", sans-serif!important; }

/*ykhn-title-info*/
.ykhn-title-info {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 37px 0; }
  .ykhn-title-info img {
    margin-right: 24px; }

.ykhn-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #008763;
  font-weight: bold;
 }


.home-item-introduce-info {
  /*font-weight: "Roboto:700";*/
  font-size: 18px;
  line-height: 25px;
  font-weight: bold; 
  /* text-align: justify; */
}
  .home-item-introduce-info a {
    color: black; }

/*end ykhn-title-info*/
/*header*/
.ykhn-page .ykhn-header {
  padding: 19px 0 25px; }
  .ykhn-page .ykhn-header .header {
    font-family: "Roboto:700", sans-serif;
    font-weight: bold; }
  .ykhn-page .ykhn-header .header-info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .ykhn-page .ykhn-header .header-name {
    text-transform: uppercase;
    margin-left: 9px; }
    .ykhn-page .ykhn-header .header-name .header-title {
      font-size: 23.5px;
      line-height: 29.5px;
      color: #008763;
      font-weight: bold;
      padding-bottom: 3px; }
    .ykhn-page .ykhn-header .header-name .header-service {
      font-size: 11.5px;
      line-height: 14.5px;
      color: black;
      font-weight: bold; }
  .ykhn-page .ykhn-header .header-contact {
    margin-left: auto;
    margin-right: 0; }
    .ykhn-page .ykhn-header .header-contact .header-contact-item {
      line-height: 23.5px;
      font-size: 14px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .ykhn-page .ykhn-header .header-contact .header-contact-item .header-contact-icon {
        color: #008763;
        height: 18px;
        width: 12px;
        margin-right: 17px; }
      .ykhn-page .ykhn-header .header-contact .header-contact-item a {
        color: black;
        text-decoration: none; }

/*end header*/
/*ykhn-home-banner*/
/*.home-banner{
	.owl-item.active{
		
		.home-banner-info-item{
			animation-name: fadeInRight;
			animation-duration: 2s;
		}
		
	}
}*/
.ykhn-home-banner {
  position: relative; }
  .ykhn-home-banner .home-banner {
    position: relative;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    margin-bottom: 48px; }
    .ykhn-home-banner .home-banner .item {
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease;
      background-repeat: repeat !important;
      background-size: cover !important;
      background-position: center !important; }
      .ykhn-home-banner .home-banner .item img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; 
      }
    .ykhn-home-banner .home-banner .owl-dots {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 3;
      text-align: right;
      bottom: 15px; }
      .ykhn-home-banner .home-banner .owl-dots .owl-dot span {
        width: 12px;
        height: 12px; }
      .ykhn-home-banner .home-banner .owl-dots .owl-dot.active span {
        background: #008763; }
      .ykhn-home-banner .home-banner .owl-dots .owl-dot:focus {
        outline: 0; }
    .ykhn-home-banner .home-banner .owl-nav {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      z-index: 5; }
      .ykhn-home-banner .home-banner .owl-nav .owl-prev .banner-icon, .ykhn-home-banner .home-banner .owl-nav .owl-next .banner-icon {
        z-index: 3;
        height: 53px;
        width: 26px;
        color: #fff; }
        .ykhn-home-banner .home-banner .owl-nav .owl-prev,
        .ykhn-home-banner .home-banner .owl-nav .owl-next{
          background: transparent;
        }
      .ykhn-home-banner .home-banner .owl-nav .owl-prev:hover, .ykhn-home-banner .home-banner .owl-nav .owl-next:hover {
        background: transparent; }
        .ykhn-home-banner .home-banner .owl-nav .owl-prev:hover .banner-icon, .ykhn-home-banner .home-banner .owl-nav .owl-next:hover .banner-icon {
          color: #008763; }
      .ykhn-home-banner .home-banner .owl-nav .owl-prev:focus, .ykhn-home-banner .home-banner .owl-nav .owl-next:focus {
        outline: 0; }
      .ykhn-home-banner .home-banner .owl-nav .owl-next {
        margin-left: auto; }

.home-banner-info {
  position: absolute;
  top: 0;
  z-index: 3; }
  .home-banner-info .home-banner-info-item-style-2 {
    background: rgba(55, 168, 236, 0.25);
    border-radius: 10px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%; }
    .home-banner-info .home-banner-info-item-style-2 .home-banner-info-top .home-banner-info-top-item {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold; }
    .home-banner-info .home-banner-info-item-style-2 .home-banner-info-bottom {
      background: #f3fcfc;
      border-radius: 10px;
      color: #008763;
      padding: 18px 19px 18px 16px; }
      .home-banner-info .home-banner-info-item-style-2 .home-banner-info-bottom .home-banner-item-style-1 {
        line-height: 15.5px;
        padding-bottom: 10px;
        font-weight: bold; }
      .home-banner-info .home-banner-info-item-style-2 .home-banner-info-bottom .home-banner-item-style-2 {
        font-weight: bold; }

/*end ykhn-home-banner*/
/*ykhn-home-menu*/
.ykhn-home-menu {
  background: #008763;
  text-transform: uppercase;
  size: 18px;
  font-weight: bold; }
  .ykhn-home-menu .ykhn-home-menu-item {
    padding: 18px 20px; }
    .ykhn-home-menu .ykhn-home-menu-item a {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #fff; }
      .ykhn-home-menu .ykhn-home-menu-item a img {
        width: 60px !important;
        height: 59px;
        margin-right: 23px;
        -o-object-fit: cover;
        margin-right: 23px;
        object-fit: cover; }
      .ykhn-home-menu .ykhn-home-menu-item a p {
        /* text-align: center; */
        width: calc(100% - 83px);
         }

  .ykhn-home-menu .ykhn-home-menu-item:hover {
    background: #39a28b; }

/*end ykhn-home-menu*/
/*ykhn-home-info*/
/*ykhn-home-info-item*/
.ykhn-home-info {
  padding-bottom: 21px; }

.ykhn-home-item-inner {
  /*.ykhn-home-item-introduce:hover{
		transform: scale(1.05);
	}*/ }
  .ykhn-home-item-inner .ykhn-home-item-introduce {
    background-repeat: repeat !important;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 10px;
    position: relative;
    -webkit-transition: 1s ease !important;
    -o-transition: 1s ease !important;
    transition: 1s ease !important; }
    .ykhn-home-item-inner .ykhn-home-item-introduce .home-item-introduce-info {
      position: absolute;
      bottom: 0;
      padding: 15px 24px 12px 23px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background: #eff2fb85;
      color: #008763;
      -webkit-transition: 1s ease;
      -o-transition: 1s ease;
      transition: 1s ease; 
      text-align: justify;
      margin: 0
    }
    .ykhn-home-item-inner .ykhn-home-item-introduce .home-item-introduce-info:hover {
      color: #fff;
      background: #008763; }
  .ykhn-home-item-inner .ykhn-home-item-info .home-inner-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 11px 0; }
    .ykhn-home-item-inner .ykhn-home-item-info .home-inner-item .home-inner-item-img {
      margin-right: 28px; }
      .ykhn-home-item-inner .ykhn-home-item-info .home-inner-item .home-inner-item-img img {
        width: 35px;
        height: 35px; }
  .ykhn-home-item-inner .ykhn-home-item-info .home-inner-item:first-child {
    padding-top: 0; }
  .ykhn-home-item-inner .ykhn-home-item-info .home-inner-item:last-child {
    padding-bottom: 0; }

.ykhn-home-news-item {
  padding-bottom: 20px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }
  .ykhn-home-news-item .ykhn-home-news-item-img {
    position: relative;
    padding-top: 68%;
    margin-bottom: 16px; }
    .ykhn-home-news-item .ykhn-home-news-item-img img {
      border-radius: 7px;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .ykhn-home-news-item .home-item-introduce-info {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 51px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
 }
    .ykhn-home-news-item .home-item-introduce-new {
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      height: 40px;
      font-size: 14px;
      margin-bottom: 13px;
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease;
   }
  .ykhn-home-news-item .read-more {
    float: right;
    font-size: 14px;
    color: #008763; 
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
  }

.ykhn-home-news-item:after {
  clear: both;
  display: block;
  content: ""; }

.ykhn-home-news-item:hover {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.18);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }
  .ykhn-home-news-item:hover .home-item-introduce-info,
  .ykhn-home-news-item:hover .home-item-introduce-new,
  .ykhn-home-news-item:hover .read-more{
    padding: 0 10px;
  }
/*end ykhn-home-info-item*/
/*end ykhn-home-info*/
/*footer*/
.footer-top {
  padding: 15px 0 17px;
  background: #ebebeb; }
  .footer-top .footer-top-item-inner {
    font-style: italic;
    font-size: 14px;
    color: #008763; }
    .footer-top .footer-top-item-inner .footer-top-item-number {
      color: #000; }

.footer-info {
  padding-top: 38px;
  background: #008763; }
  .footer-info .footer-info-item {
    padding-bottom: 38px; }
    .footer-info .footer-info-item .footer-info-item-title {
      padding-bottom: 17px;
      color: #fff; }
      .footer-info .footer-info-item .footer-info-item-title span {
        margin-left: 10px; }
    .footer-info .footer-info-item .footer-info-item-ul {
      margin: 0;
      list-style-type: none;
      color: #fff;
      font-size: 16px;
      padding: 0;
      line-height: 18px; }
      .footer-info .footer-info-item .footer-info-item-ul .footer-info-item-li {
        padding: 10px 0; }
        .footer-info .footer-info-item .footer-info-item-ul .footer-info-item-li a {
          padding-left: 7px;
          color: #fff; }

.footer-info-item-inner iframe {
  max-width: 100%;
  height: 165px; }

.footer-bottom {
  text-align: center;
  font-size: 16px;
  line-height: 28px; }
  .footer-bottom .footer-top-item-inner {
    font-style: initial; }

/*end footer*/
/*tin-tuc-chi-tiet*/
.ykhn-news-banner .home-banner .home-banner-info .home-banner-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .ykhn-news-banner .home-banner .home-banner-info .home-banner-info-item .home-banner-item {
    text-transform: inherit;
    text-align: right;
    padding-top: 100px;
    right: 136px; }
    .ykhn-news-banner .home-banner .home-banner-info .home-banner-info-item .home-banner-item .home-banner-item-style-1 {
      font-size: 33px;
      padding: 3px 13px 2px 11px; }
    .ykhn-news-banner .home-banner .home-banner-info .home-banner-info-item .home-banner-item .home-banner-item-style-2 {
      text-transform: uppercase;
      font-size: 58.5px; }
    .ykhn-news-banner .home-banner .home-banner-info .home-banner-info-item .home-banner-item .home-banner-item-style-3 {
      font-size: 33.5px;
      color: #008763;
      position: relative;
      line-height: 33.5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      float: right; }
      .ykhn-news-banner .home-banner .home-banner-info .home-banner-info-item .home-banner-item .home-banner-item-style-3 img {
        margin-top: 11px;
        margin-right: 4px;
        width: 64px;
        height: 16px; }

.ykhn-news-banner .home-banner .owl-nav {
  display: none; }

.ykhn-main-title {
  color: #008763;
  font-size: 35px; }

.ykhn-news-info {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 35px; }
  .ykhn-news-info .ykhn-introduce .introduce-title{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .ykhn-news-info .ykhn-introduce .introduce-title-style-1{
    font-size: 14px;
    padding-top: 10px;
    font-weight: 600;
  }
  .ykhn-news-info .ykhn-introduce .introduce-title-item{
    font-size: 14px;
    padding: 3px;
    font-style: italic;
  }
  .ykhn-news-info .ykhn-introduce .ykhn-news-times{
    padding: 3px;
  }
  .ykhn-news-info .ykhn-introduce .news-inner-style-2{
    text-indent: 30px;
    padding: 10px 0;
  }
  .ykhn-news-info .ykhn-introduce .introduce-ul .introduce-li{
    padding: 5px 0;
  }
  .ykhn-news-info .ykhn-introduce .introduce-ul-style-1{
    padding: 0;
  }
  .ykhn-news-info .ykhn-introduce .introduce-ul-style-1 .introduce-li{
    list-style: none;
  }
  .ykhn-news-info .ykhn-news-times {
    font-size: 14px;
    font-weight: 400; }

  .ykhn-news-info .ykhn-news-inner {
    padding-top: 20px; }
    .ykhn-news-info .ykhn-news-inner img{
      max-width: 100%;
      object-fit: cover;
      
    }
    .ykhn-news-info .ykhn-news-inner .news-inner-img {
      text-align: center; }
      .ykhn-news-info .ykhn-news-inner .news-inner-img .news-img {
        -o-object-fit: cover;
        object-fit: cover;
        padding-bottom: 10px;
        max-width: 100%; }
      .ykhn-news-info .ykhn-news-inner .news-inner-img .news-title-img {
        font-style: italic; 
        text-align: center;
      }
    .ykhn-news-info .ykhn-news-inner .news-inner {
      padding-bottom: 20px; 
      text-align: justify;
    }
      .ykhn-news-info .ykhn-news-inner .news-inner span {
        font-weight: bold; }
    .ykhn-news-info .ykhn-news-inner .news-inner-style-1 {
      padding-bottom: 0; }

.news-info-hastag {
  padding-bottom: 33px; 
  margin-top: 10px}
  .news-info-hastag .news-info-hastag-item {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: #008763;
    padding: 2px 6px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
    line-height: 17px;
    border: 1px solid transparent; }

.news-info-hastag .news-info-hastag-item:hover {
  border: 1px solid #008763;
  background: #fff;
  color: #008763;
  text-decoration: none; }

.news-info-hastag:after {
  clear: both;
  display: block;
  content: ""; }

.news-info-relate .news-info-relate-title {
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  font-weight: bold; }

.news-info-relate .news-info-relate-item {
  color: #008763;
  font-weight: bold; }

/*end tin-tuc-chi-tiet*/
/*chuyen-khoa*/
.ykhn-expert-info {
  padding-bottom: 41px; }
  .ykhn-expert-info .ykhn-home-item-info {
    padding: 6px; }
    .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item {
      padding: 23px 10px;
      background: #fff;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4); }
      .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item .ykhn-expert-item-img {
        background-repeat: repeat !important;
        background-size: cover !important;
        background-position: center !important;
        border-radius: 10px;
        position: relative;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease; }
        .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item .ykhn-expert-item-img .ykhn-expert-item-img-info {
          position: absolute;
          bottom: 0;
          width: 100%;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          text-align: center;
          color: #fff;
          background: #008763;
          padding: 6px 2px 5px 2px;
          /* height: 56px;  */
        }
          .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item .ykhn-expert-item-img .ykhn-expert-item-img-info .expert-title-name {
            font-size: 18px;
            padding-bottom: 3px;
            font-weight: bold;
            text-transform: capitalize; }
            .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item .ykhn-expert-item-img .ykhn-expert-item-img-info .expert-title-name span {
              text-transform: uppercase; }
          .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item .ykhn-expert-item-img .ykhn-expert-item-img-info .expert-title-position {
            font-size: 14px; 
            font-weight: 400;
          }
      .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item .ykhn-expert-item-img:hover {
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03); }
      .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item .ykhn-expert-item-inner {
        font-size: 14px;
        line-height: 23px;
        color: #000;
        letter-spacing: -0.42px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: overlay;
        height: 349px;
        padding-right: 12px; }
        .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item .ykhn-expert-item-inner .expert-inner span {
          font-weight: bold; }
        .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item .ykhn-expert-item-inner .expert-inner-ul {
          padding-left: 20px; }
      .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item .ykhn-expert-item-inner::-webkit-scrollbar {
        width: 5px; }
      .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item .ykhn-expert-item-inner::-webkit-scrollbar-track {
        background: #d4d4d4; }
      .ykhn-expert-info .ykhn-home-item-info .ykhn-expert-item .ykhn-expert-item-inner::-webkit-scrollbar-thumb {
        background: #a5a6a6; }

/*end chuyen-khoa*/
/*goi-kham*/
.ykhn-expert-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ykhn-priceList-banner .priceList-banner {
  background-repeat: repeat !important;
  background-size: cover !important;
  background-position: center !important;
  margin-bottom: 25px; }
  .ykhn-priceList-banner .priceList-banner .priceList-banner-info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .ykhn-priceList-banner .priceList-banner .priceList-banner-info .priceList-banner-info-item {
      width: 750px;
      position: relative;
      background: #fff;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
      padding: 16px 32px 29px 23px;
      text-align: center; }
      .ykhn-priceList-banner .priceList-banner .priceList-banner-info .priceList-banner-info-item .ykhn-main-title {
        text-transform: uppercase;
        font-weight: 400;
        padding-bottom: 5px; }
      .ykhn-priceList-banner .priceList-banner .priceList-banner-info .priceList-banner-info-item .priceList-info-title {
        font-size: 14px;
        color: #a6a6a6;
        line-height: 17px;
        font-weight: 400; }
      .ykhn-priceList-banner .priceList-banner .priceList-banner-info .priceList-banner-info-item .priceList-info-item {
        text-align: left;
        padding: 25px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 14px;
        color: black; }
        .ykhn-priceList-banner .priceList-banner .priceList-banner-info .priceList-banner-info-item .priceList-info-item .priceList-inner-item {
          border: 0;
          border-bottom: 1px solid black; }
        .ykhn-priceList-banner .priceList-banner .priceList-banner-info .priceList-banner-info-item .priceList-info-item .priceList-input {
          padding-left: 3px; }
        .ykhn-priceList-banner .priceList-banner .priceList-banner-info .priceList-banner-info-item .priceList-info-item .priceList-input:focus,
        .ykhn-priceList-banner .priceList-banner .priceList-banner-info .priceList-banner-info-item .priceList-info-item .priceList-select:focus {
          outline: 0; }
      .ykhn-priceList-banner .priceList-banner .priceList-banner-info .priceList-banner-info-item .priceList-button {
        position: absolute;
        bottom: -35px;
        padding: 10px 29px;
        border: 0;
        border-radius: 7px;
        font-size: 14px;
        line-height: 14px;
        border: 1px solid transparent;
        font-weight: bold;
        background: #008763;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .ykhn-priceList-banner .priceList-banner .priceList-banner-info .priceList-banner-info-item .priceList-button a {
          color: #fff; }
      .ykhn-priceList-banner .priceList-banner .priceList-banner-info .priceList-banner-info-item .priceList-button:hover {
        border: 1px solid #008763;
        background: #fff; }
        .ykhn-priceList-banner .priceList-banner .priceList-banner-info .priceList-banner-info-item .priceList-button:hover a {
          color: #008763; }

.ykhn-priceList-info {
  padding-bottom: 39px; }
  .ykhn-priceList-info .droplist-item {
    margin-bottom: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .ykhn-priceList-info .droplist-item .droplist-item-title {
      font-size: 16px; }
    .ykhn-priceList-info .droplist-item .select-priceList-info {
      padding: 5px 12px;
      border-radius: 5px;
      margin: 0 10px; }
    .ykhn-priceList-info .droplist-item .select-priceList-info:focus {
      outline: 0; }
  .ykhn-priceList-info .ykhn-priceList-info-item {
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    padding: 33px 28px 35px 28px; }
    .ykhn-priceList-info .ykhn-priceList-info-item .priceList-inner-table {
      width: 100%;
      font-size: 14px; }
      .ykhn-priceList-info .ykhn-priceList-info-item .priceList-inner-table .priceList-inner-thead {
        background: #008763; }
        .ykhn-priceList-info .ykhn-priceList-info-item .priceList-inner-table .priceList-inner-thead .priceList-inner-td {
          font-weight: 400;
          padding: 14px 0 10px 0; }
          .ykhn-priceList-info .ykhn-priceList-info-item .priceList-inner-table .priceList-inner-thead .priceList-inner-td p {
            color: #fff;
            text-align: center;
            line-height: 19px;
            padding: 7px 0;
            border-right: 2px solid #fff; }
        .ykhn-priceList-info .ykhn-priceList-info-item .priceList-inner-table .priceList-inner-thead .priceList-inner-td:last-child p {
          border: 0; }
      .ykhn-priceList-info .ykhn-priceList-info-item .priceList-inner-table .priceList-inner-tr {
        color: black; }
        .ykhn-priceList-info .ykhn-priceList-info-item .priceList-inner-table .priceList-inner-tr .priceList-inner-td-2 .priceList-inner-td-top {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
      .ykhn-priceList-info .ykhn-priceList-info-item .priceList-inner-table .priceList-inner-tbody .priceList-inner-tr:nth-child(2n) {
        color: #fff;
        background: #5d5d5d; }
        .ykhn-priceList-info .ykhn-priceList-info-item .priceList-inner-table .priceList-inner-tbody .priceList-inner-tr:nth-child(2n) .priceList-inner-td-2 .priceList-inner-td-top {
          border-bottom: 1px solid #fff; }

.priceList-inner-paging {
  margin-top: 37px; }
  .priceList-inner-paging .pagination {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0; }
    .priceList-inner-paging .pagination .page-item {
      margin: 0 15px !important; }
      .priceList-inner-paging .pagination .page-item .page-link {
        border: 0;
        font-size: 14px;
        color: #fff;
        border-radius: 50%;
        background: #008763; }
      .priceList-inner-paging .pagination .page-item .page-link:focus {
        outline: 0;
        -webkit-box-shadow: 0;
        box-shadow: 0; }
    .priceList-inner-paging .pagination .page-item-style-1 .page-link {
      background: #737373; }
    .priceList-inner-paging .pagination .page-item:focus {
      outline: 0; }
    .priceList-inner-paging .pagination .page-item:first-child {
      margin-left: 0; }
    .priceList-inner-paging .pagination .page-item:last-child {
      margin-right: 0; }

.priceList-mobile .priceList-mobile-item {
  padding: 2px 0;
  font-size: 14px; }
  .priceList-mobile .priceList-mobile-item .priceList-mobile-title {
    background: #008763;
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 7px 11px 10px;
    border-radius: 10px;
    -webkit-transition: 2s ease;
    -o-transition: 2s ease;
    transition: 2s ease; }
    .priceList-mobile .priceList-mobile-item .priceList-mobile-title .priceList-mobile-icon {
      border-radius: 50%;
      width: 44px;
      height: 44px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: 2s ease;
      -o-transition: 2s ease;
      transition: 2s ease;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-right: 10px; }
      .priceList-mobile .priceList-mobile-item .priceList-mobile-title .priceList-mobile-icon .fa-icon {
        width: 44px;
        height: 44px; }
    .priceList-mobile .priceList-mobile-item .priceList-mobile-title .priceList-mobile-icon:hover {
      background: #39a28b; }
    .priceList-mobile .priceList-mobile-item .priceList-mobile-title .priceList-mobile-icon-down {
      display: none; 
    }
    .priceList-mobile .priceList-mobile-item .priceList-mobile-title .priceList-mobile-icon-down.index {
      display: flex; 
    }
    .priceList-mobile .priceList-mobile-item .priceList-mobile-title .priceList-mobile-icon-right.index {
      display: none; 
    }
    .priceList-mobile .priceList-mobile-item .priceList-mobile-title .priceList-mobile-name {
      width: calc(100% - 44px);
      font-size: 14px;
      font-weight: 400; }
  .priceList-mobile .priceList-mobile-item .priceList-mobile-info {
    display: none;
    padding: 11px 20px; }
    .priceList-mobile .priceList-mobile-item .priceList-mobile-info.index {
      display: block;
      padding: 11px 20px; }
    .priceList-mobile .priceList-mobile-item .priceList-mobile-info .priceList-mobile-price span {
      font-weight: bold; }

/*end goi-kham*/
/*login*/
.ykhn-login-info {
  margin: 0 auto;
  padding: 44px 39px 56px 39px;
  position: relative;
  top: -250px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4); }
  .ykhn-login-info .login-title {
    font-size: 34.5px;
    color: #008763;
    text-align: center;
    padding-bottom: 34px; }
  .ykhn-login-info .login-inner {
    padding: 13px 0; }
    .ykhn-login-info .login-inner .login-inner-title {
      font-size: 14.5px;
      color: #008763;
      font-weight: bold; }
    .ykhn-login-info .login-inner .login-input {
      font-size: 15px;
      border: 1px solid #959595;
      padding: 14px;
      border-radius: 3px;
      width: 100%; }
    .ykhn-login-info .login-inner .login-input:focus {
      outline-color: #797979; }
  .ykhn-login-info .login-info-item {
    padding-top: 11px; }
    .ykhn-login-info .login-info-item .forgot-pass {
      font-size: 14.5px; }
    .ykhn-login-info .login-info-item .login-button {
      float: right;
      font-size: 18.5px;
      border: 1px solid transparent;
      border-radius: 10px;
      background: #008763;
      padding: 11px 52px;
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease; 
      color: #fff;
      font-weight: bold;}
    .ykhn-login-info .login-info-item .login-button:focus {
      outline: 0; }
    .ykhn-login-info .login-info-item .login-button:hover {
      background: #fff;
      border: 1px solid #008763;
      color: #008763;
      text-decoration: none; }
  .ykhn-login-info .login-info-item:after {
    content: "";
    clear: both;
    display: block; }

/*end login*/
/*landing-page*/
.ykhn-landing-page .ykhn-landing-page-banner {
  background-repeat: repeat !important;
  background-size: cover !important;
  background-position: center !important;
  margin-bottom: 0; }
  .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info {
    padding-top: 25px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title {
      position: relative;
      background: #008763;
      color: #fff;
      border-radius: 20px;
      text-align: center; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title .landing-page-title-style-1 {
        text-transform: uppercase;
        font-weight: 700; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title .landing-page-title-style-2 {
        font-weight: 400;
        margin: 0 auto; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title:after {
      content: "";
      display: block;
      position: absolute; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code {
      color: black;
      text-align: center;
      margin: 0 auto; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code .landing-page-code-title {
        padding-bottom: 12px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code .landing-page-qrcode {
        -o-object-fit: cover;
        object-fit: cover; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-download .landing-download .img-down {
      -o-object-fit: cover;
      object-fit: cover; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-download .landing-download:last-child {
      padding-right: 0; }
  .ykhn-landing-page .ykhn-landing-page-banner .landing-page-item .img-smart {
    margin: 0 auto;
    -o-object-fit: cover;
    object-fit: cover; }

/*end landing-page*/
@media (max-width: 1199.98px) {
  .ykhn-home-banner .home-banner .owl-nav {
    display: none; } }

@media (max-width: 991.98px) {
  .ykhn-home-menu {
    padding: 18px 0; }
    .ykhn-home-menu .ykhn-home-menu-item {
      margin: 5px 0; }
  .ykhn-home-item-introduce {
    height: 380px;
    margin-bottom: 38px; }
  .ykhn-home-item-inner .ykhn-home-news-item {
    padding: 15px; } }

@media (max-width: 767.98px) {
  .header .header-info {
    padding-bottom: 30px; }
  .ykhn-priceList-info-item {
    display: none; } }

@media (max-width: 575.98px) {
  .ykhn-expert-item .ykhn-expert-item-img {
    height: 349px;
    margin-bottom: 10px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .header .header-info, .header .header-contact {
    width: 50%; } }

@media (min-width: 320px) {
  .home-banner {
    height: 350px; }
    .home-banner .item {
      height: 350px; }
  .priceList-banner {
    height: 500px; }
    .priceList-banner .priceList-banner-info-item .priceList-select {
      margin-right: 12px; }
  .home-banner-info {
    padding-top: 30px;
    padding-right: 10px; }
    .home-banner-info .home-banner-info-item-style-2 {
      height: 250px;
      width: 208px; }
    .home-banner-info .home-banner-info-top {
      display: block;
      text-align: right;
      padding: 18px 0; }
      .home-banner-info .home-banner-info-top .home-banner-info-top-item {
        font-size: 18px;
        display: none; }
      .home-banner-info .home-banner-info-top .home-banner-info-top-item-style-1 {
        display: block; }
      .home-banner-info .home-banner-info-top img {
        width: 65px;
        height: 65px; }
    .home-banner-info .home-banner-info-bottom .home-banner-item-style-1 {
      font-size: 13px; }
    .home-banner-info .home-banner-info-bottom .home-banner-item-style-2 {
      font-size: 15px; }
  .droplist-item {
    display: none; }
  .priceList-info-item .priceList-select {
    width: 50%; }
  .priceList-info-item .priceList-input {
    width: 50%; }
  .ykhn-landing-page .ykhn-landing-page-banner {
    padding-bottom: 26px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title {
      padding: 28px 10px;
      margin-bottom: 25px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title .landing-page-title-style-1 {
        font-size: 23px;
        line-height: 28px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title .landing-page-title-style-2 {
        font-size: 14px;
        line-height: 19px;
        width: 79%; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title:after {
      border-left: 35px solid transparent;
      border-top: 20px solid #008763;
      bottom: -19px;
      right: 25px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .img-smart {
      display: block !important;
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: 34px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code {
      width: 92%;
      padding-bottom: 25px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code .landing-page-code-title {
        font-size: 14px;
        line-height: 16px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code .landing-page-qrcode {
        width: 162px;
        height: 176px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-download {
      text-align: center; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-download .landing-download {
        padding-right: 24px; }
        .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-download .landing-download .img-down {
          width: 130px;
          height: 40px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-item .img-smart {
      display: none; } }

@media (min-width: 576px) {
  .home-banner {
    height: 420px; }
    .home-banner .item {
      height: 420px; }
      .ykhn-home-menu .ykhn-home-menu-item .item-center{
        width: 130px;
        text-align: center;
     }
  .home-banner-info {
    padding-top: 20px; }
    .home-banner-info .home-banner-info-item-style-2 {
      width: 305px;
      height: 350px; }
    .home-banner-info .home-banner-info-top {
      padding-top: 40px;
      padding-bottom: 28px; }
      .home-banner-info .home-banner-info-top img {
        width: 114px;
        height: 114px; }
      .home-banner-info .home-banner-info-top .home-banner-info-top-item {
        font-size: 25px; }
    .home-banner-info .home-banner-info-bottom .home-banner-item-style-1 {
      font-size: 14px; }
    .home-banner-info .home-banner-info-bottom .home-banner-item-style-2 {
      font-size: 20px; }
  .ykhn-expert-item {
    height: 410px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .ykhn-expert-item .ykhn-expert-item-img {
      margin-right: 29px;
      width: 50%; }
    .ykhn-expert-item .ykhn-expert-item-inner {
      width: 50%; }
  .priceList-info-item .priceList-select {
    width: 25%; }
  .priceList-info-item .priceList-input {
    width: 70%; }
  .ykhn-landing-page .ykhn-landing-page-banner {
    padding-top: 10px;
    padding-bottom: 36px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title {
      padding: 20px 15px;
      margin-bottom: 35px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title .landing-page-title-style-1 {
        font-size: 28px;
        line-height: 32px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title .landing-page-title-style-2 {
        font-size: 18.5px;
        line-height: 26px;
        width: 59%; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title:after {
      border-left: 55px solid transparent;
      border-top: 35px solid #008763;
      bottom: -34px;
      right: 40px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .img-smart {
      display: block !important;
      max-width: 90%;
      margin-bottom: 34px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code {
      width: 92%;
      padding-bottom: 25px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code .landing-page-code-title {
        font-size: 14px;
        line-height: 16px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code .landing-page-qrcode {
        width: 162px;
        height: 176px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-download .landing-download {
      padding-right: 29px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-download .landing-download .img-down {
        width: 165px;
        height: 50px; } }

@media (min-width: 768px) {
  .header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .home-banner {
    height: 550px; }
    .home-banner .item {
      height: 550px; }
    .home-banner .priceList-banner-info-item .priceList-select {
      margin-right: 30px; }
  .home-banner-info {
    padding-top: 50px; }
    .home-banner-info .home-banner-info-item-style-2 {
      height: 410px; }
  .priceList-mobile {
    display: none; }
  .droplist-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .priceList-inner-table .priceList-inner-tr .priceList-inner-td {
    padding: 16px 9px; }
  .priceList-inner-table .priceList-inner-tr .priceList-inner-td-1 {
    width: 8%;
    text-align: center; }
  .priceList-inner-table .priceList-inner-tr .priceList-inner-td-3 {
    width: 14%;
    text-align: center; }
  .priceList-inner-table .priceList-inner-tr .priceList-inner-td-2, .priceList-inner-table .priceList-inner-tr .priceList-inner-td-4 {
    width: 39%; }
  .ykhn-login-info {
    width: 80%; }
  .ykhn-landing-page .ykhn-landing-page-banner {
    padding-top: 53px;
    padding-bottom: 66px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title .landing-page-title-style-2 {
      width: 79%; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .img-smart {
      display: none !important; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code {
      width: 72%;
      padding-bottom: 27px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code .landing-page-code-title {
        font-size: 13.5px;
        line-height: 16px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code .landing-page-qrcode {
        width: 189px;
        height: 204px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-item .img-smart {
      display: block;
      width: 251px; } }

@media (min-width: 992px) {
  .home-banner {
    height: 700px; }
    .home-banner .item {
      height: 700px; }
  .home-banner-info {
    padding-top: 62px; }
    .home-banner-info .home-banner-info-item-style-2 {
      width: 456px;
      height: 580px; }
    .home-banner-info .home-banner-info-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      padding-top: 75px;
      padding-bottom: 68px; }
      .home-banner-info .home-banner-info-top .home-banner-info-top-item {
        font-size: 30px;
        display: block; }
      .home-banner-info .home-banner-info-top img {
        width: 130px;
        height: 130px; }
      .home-banner-info .home-banner-info-top .home-banner-info-top-item-style-1 {
        display: none; }
  .ykhn-home-item-introduce {
    padding: 0;
    width: 100%;
    height: 100%; }
    .ykhn-news-info .introduce-info .news-inner-img .news-img{
      width: 600px;
    }
  .ykhn-introduce .introduce-info .introduce-inner{
    width: 80%;
    margin: 0 auto;
  }
  .ykhn-introduce .introduce-info .introduce-inner .introduce-info-item{
      width: 50%;
      display: inline-block;
      vertical-align: top;
  }
  .ykhn-login-info {
    width: 50%; }
  .ykhn-landing-page .ykhn-landing-page-banner {
    padding-top: 71px;
    padding-bottom: 87px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title {
      padding: 32px 20px;
      margin-bottom: 40px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title .landing-page-title-style-1 {
        font-size: 35px;
        line-height: 42px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title .landing-page-title-style-2 {
        font-size: 23.5px;
        line-height: 30px;
        width: 82%; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title:after {
      border-left: 55px solid transparent;
      border-top: 40px solid #008763;
      bottom: -39px;
      right: 45px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code {
      width: 75%;
      padding-bottom: 36px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code .landing-page-code-title {
        font-size: 18px;
        line-height: 21px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code .landing-page-qrcode {
        width: 250px;
        height: 270px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-download .landing-download {
      padding-right: 8px; }
      .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-download .landing-download .img-down {
        width: 219px;
        height: 67px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-item .img-smart {
      width: 358px; } }

@media (min-width: 1200px) {
  .footer-info-item-inner iframe, .footer-info-item-inner .fb-page {
    width: 265px;
    height: 165px; }
  .home-banner .owl-nav .owl-prev {
    margin-left: -45px; }
  .home-banner .owl-nav .owl-next {
    margin-right: -45px; }
  .home-banner-info .home-banner-info-item-style-2 {
    width: 445px; }
  .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title {
    margin-bottom: 45px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title .landing-page-title-style-1 {
      font-size: 42px;
      line-height: 48px; }
    .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title .landing-page-title-style-2 {
      font-size: 24.5px;
      line-height: 34px; }
  .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-title:after {
    border-left: 60px solid transparent;
    border-top: 46px solid #008763;
    bottom: -45px; }
  .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-code {
    width: 56%; }
  .ykhn-landing-page .ykhn-landing-page-banner .landing-page-info .landing-page-download .landing-download {
    padding-right: 41px; } }

@media (min-width: 1360px) {
  .home-banner .owl-nav .owl-prev {
    margin-left: -60px; }
  .home-banner .owl-nav .owl-next {
    margin-right: -60px; } }
