.header-search {
    text-align: left;
    padding: 0 !important;
    display: flex !important;
    background-color: #2198bc1f;
    .search-type {
        padding: 8px 0px 15px 14px;
        .error-dob {
            display: none;
        }
    }
    .search-date {
        padding: 8px 0px 15px 14px;
        .error-dob {
            display: none;
        }
    }
}