






.card-main-left-hostory {
    background-color: #fff !important;
    margin: -20px 0px -18px -30px;
}


.transaction-history-tr {
    vertical-align: top !important
}
.transaction-history-index-1 {
    vertical-align: middle !important;
    padding-left: 15px !important;
}
@media (min-width: 992px){
    .check-history{
        height: 61px;
    }
}
@media (max-width: 1600px){
    .check-history{
        height: 61px;
    }
}