body {
    font-family: 'Open Sans', sans-serif !important;
    color: #000 !important;
}
.user-info-body {
    box-shadow: none !important;
}
.info-hospital {
    background-color: #fff !important;
    margin: 36px 0px;
}
h4.user-info-title {
    font-weight: 700;
    color: #087292 !important;
    font-size: 30px;
}
.image-user-info {
    max-width: 100px;
}
.image-info{
    max-width: 150px;
}
.user-info-form {
    width: 100%;
}
.user-info-table {
    padding: 80px 80px 53px;
    position: relative;
}
.color-text-validator {
    margin: 0px !important;
}
.user-info-input-item div div input {
    padding: 10px 12px 10px 14px;
    font-size: 16px;
    /* font-weight: 600 !important; */
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-info-input-item div {
    margin-top: 0 !important;
    margin-bottom: 5px !important;
    display: flex;
}
.user-info-input-item {
    padding: 0 !important;
    margin-bottom: 18px !important;
}
.user-info-input-item .title-item {
    font-size: 14px !important;
}
.title-item-2{
    margin-bottom: 12px
}
.user-info-input-item-disabled {
    background-color: #2198bc24;
    border-radius: 6px;
    padding: 7px 14px!important;
    font-weight: 600;
    font-size: 16px !important;
    margin-top: 5px;
}
.detail-info-user  {
    margin-bottom: 18px !important
}
.user-info-password {
    color: #2198bc !important;
    font-size: 15px !important;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.img-user-info {
    text-align: left;
}
.image-info {
    max-width: 100%;
    max-height: 250px;
    border-radius: 8px;
    object-fit: cover;
    margin-top: -5px;
}
.user-info-avatar-right {
    padding-left: 50px;
}
.change-password-body{
    padding: 0px 40px !important
}
.change-password-title {
    color: #087292 !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    text-align: center !important;
}
.change-password-index > h6 {
    text-align: center !important;
}
.change-password-index > h2 {
    text-align: center !important;
}
.user-info-input-item-2 {
    margin-bottom: 0 !important;
    padding-top: 12px !important;
}
.title-index-password {
    margin-top: 4px !important;
}
/* .user-info-input-item-2 div {
    margin-left: -3px !important;
} */
.button-change-update {
    background-color: #fff!important;
    box-shadow: none!important;
    font-size: 16px!important;
    text-transform: none!important;
    border: 1px solid #2198bc!important;
    color: #2198bc!important;
    border-radius: 3px!important;
    width: 140px;
    margin: 10px 6px!important;
}
.button-change-update:hover{
    background-color: rgb(33,152,188) !important;
    color: #fff !important;
}
.change-password-color {
    background-color: #2198bccc !important;
    color: #fff !important;
}
.col-md-7 {
    padding-left: 0 !important;
}
/* input[type="password"].color-text-validator::-webkit-input-placeholder {
    color:  #009688;
} */
.button-user-info > span > svg {
    color: #2198bc !important;
    font-size: 40px !important;
    outline: 0 !important;
} 
.button-user-info:focus {
    outline: 0;
} 
.row {
    margin: 0 !important;
}
.button-user-info {
    position: absolute;
    top: 4px;
    left: 6px;
}
.button-user-info-item {
    font-size: 14px;
    color: #2198bc !important;
    font-weight: 600;
}
.margin-button {
    margin-bottom: 30px!important;
    justify-content: center!important;
}
.margin-button button:nth-child(2) {
    background-color: #2198bc !important;
}
@media (max-width: 1600px){
    .user-info-table {
        padding: 50px 50px;
    }
    .user-info-avatar-right {
        padding-left: 25px;
    }
}
@media (max-width: 1300px){
    .user-info-table {
        padding: 40px 36px;
    }
    .user-info-avatar-right {
        padding-left: 16px;
    }
}


