body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    color: #000 !important;
  }
.isofhPay-user-home {
    margin-top: 25px;
}

.color-header>header>div {
    background-color: rgb(33, 152, 188);
    padding: 0px !important;
}

.logo-isofh {
    height: 63px !important;
    background-color: rgb(33, 152, 188) !important;
    width: 240px !important;
    display: flex;
    align-items: center;
}

.logo-img {
    display: inline-block;
    height: 48px;
    float: left;
    cursor: pointer;
}

.default-header-title {
    align-items: center;
}

.name-csyt-top {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.item-right {
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    margin: 0 5px;
    font-size: 16px;
}

.item-right {
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    margin: 0 5px;
    font-size: 16px;
}

.user-icon {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
}

.user-icon img {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover
}

.icon-dropdown {
    height: 35px;
    width: 35px;
    /* margin-top: 9px !important; */
    background: rgb(21, 152, 192) !important;
    /* width: 30%; */
    margin-right: 16px !important;
}

.header-search {
    text-align: left;
    padding: 0 !important;
    margin-bottom: 10px !important;
}

.isofh-pay-table-user-home-title {
    margin-left: 18px;
}

.search-type {
    display: inline-block;
    padding-bottom: 6px;
    padding-top: 8px;
}

.search-name {
    font-size: 12px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: -7px;
    margin-left: 2px;
}

.user-color-title-search {
    color: rgba(92, 104, 115, 0.7);
}

.search-type {
    display: inline-block;
    padding-bottom: 6px;
    padding-top: 8px;
}

.date-picker-style-header>div>div>div {
    top: 13px;
}

.date-picker-style-header>div>div>div>input {
    width: 200px;
    border: 1px solid #0000003b;
    height: 32px;
}

.icon-dropdown>span {
    margin-top: -9px !important;
}

.page-title {
    background-color: white !important;
    display: -webkit-box;
}
.isofhPay-user-home > div {
    margin: 0 !important;
}
h2.title-page {
    text-align: left;
    padding: 4px 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: rgb(8, 114, 146);
    margin-right: 2%;
    margin-bottom: 14px;
}

.search-input-custom {
    margin-left: 0px !important;
    background-color: #fff;
    margin-right: 14px !important;
}

.search-input-custom>div {
    height: 32px;
    font-size: 14px;
    padding: 9px;
}
.user-color-title-search {
    color: #5c6873b3;
}

.select-style-user>fieldset {
    border-color: #000 !important;
    box-shadow: 0 1px 8px #00000033;
}

.select-style-user>div>div>div>input {
    border-color: #000 !important;
    box-shadow: 0 1px 8px #00000033;
}

.select-style-user>div>fieldset {
    border-color: #000 !important;
    box-shadow: 0 1px 8px #00000033;
}


table tbody td {
    font-size: 14px !important;
}

table td {
    color: black !important;
    padding: 0px !important;
}
.header-payment > h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.close-button {
    float: right;
    margin-top: -20px!important;
    margin-right: -22px!important;
    color: #000!important;
}
.content-inner {
    padding-left: 35px;
    padding-right: 35px;
}
.detail-bottom {
    margin-bottom: 30px!important;
    color: #000;
}
.color-detail {
    background-color: #f4f4f4;
    border-radius: 6px;
    /* box-shadow: 0px 1px 20px #0000003d; */
  }
.color-border-user-card {
    border-right: 2px solid #2198bc;
    margin: 20px 0;
}
.group-detail-colx3:first-child {
    padding-bottom: 14px;
    padding-top: 8px;
}
.detail-item {
    padding-bottom: 7px;
    margin-left: 32px;
}
.label-detail {
    font-weight: 400;
    font-size: 14px;
}
.group-detail-colx2 .content-detail, .group-detail-colx3 .content-detail, .group-detail .content-detail {
    margin-bottom: 0!important;
    font-weight: 700;
    font-size: 14px;
}
.title-detail-history {
    color: #087292;
    font-size: 17px!important;
    font-weight: 600!important;
}
.group-detail-colx2:first-child {
    padding-bottom: 14px;
    margin: 27px 0;
    padding-right: 15px;
}
.user-info-table {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
    padding: 20px;
}

@media (max-width: 1400px) {
    .table-wallet th button {
        display: block !important;
    }
}

@media (max-width: 1400px) {
    .next-prev-week {
        width: 47%;
    }
}

@media (min-width: 992px) {
    .sidebar-fixed .app-header+.app-body .sidebar {
        height: calc(100vh - 100px) !important;
    }
}