
body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px !important;
  color: #000 !important;
}
.App {
  text-align: center;
}
table tr {
  height: 33px !important;
}
.payment-agent p,h1,h2{
  margin: 0;
}
.hospital p,h1,h2{
  margin: 0;
}
::placeholder {
  font-weight: 400 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: 400 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  font-weight: 400 !important;
}
.trim-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.error-dob {
  font-weight: 600;
  color: #f44336;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px !important;
  line-height: 1em;
  padding-top: 8px;
}
.error-dob-date {
  margin-bottom: -8px;
}
.error-dob-select {
  margin-top: -12px;
}
.card-no-input .search-type {
  display: inline-block;
  padding: 0px;
  width: 100%;
  padding-left: 10px;
}
.card-no-input .search-type .error-dob {
  display: none;
}
.color-border-user-card {
  border-right: 2px solid rgb(33,152,188);
}