
body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px !important;
  color: #000 !important;
}
.App {
  text-align: center;
}
.color-primary{
  color: rgb(33,152,188);
}
.color-red{
  color: #f05673 !important;
}
[class*="jss"] {
  padding: 0;
}

table td {
  color: black !important;
  padding: 4px 7px 4px 9px !important;
}
table tr {
  height: 33px !important;
}
table th {
  color: white !important;
  padding: 4px 7px 4px 9px !important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-link {
  color: #61dafb;
}
.css-1hwfws3{
  padding: 2px 0 !important;
}
.booking-page table {
  min-width: 100%;
}
.booking-page > div{
  overflow: hidden;
}
.pagination-custom  div:nth-of-type(2){
  flex-shrink: inherit;
}
.pagination-custom td {
  padding: 0px !important;
  padding-bottom: 2px !important;
}
.pagination-custom {
  overflow: hidden;
  border: 1px solid #ddd;
  border-top: 0;
  background-color: #08719133 !important;
}
.css-1492t68 {
  font-size: 16px;
}
.MuiInputLabel-formControl-207{
  font-size: 16px !important;
}
.MuiInputLabel-shrink-209 {
  transform: translate(0, 1.5px) scale(0.8) !important;
}
.week label {
  font-size: 16px !important;
}
.error-input .css-162g8z5 {
  border-bottom: 2px solid red !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5px;
  text-align: left;
}
.info-user .form-label {
  font-weight: bold;
  margin-bottom: 18px;
  line-height: 1.471;
  font-size: 15px;
}
.active-acc span{
  font-weight: 700;
}
.info-user .input-text {
  font-weight: 200;
  margin-bottom: 18px;
  line-height: 1.471;
  font-size: 15px;
}
.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.col-md-6 {
  width: 50%;
}
.col-md-12 {
  width: 100%;
}
.MuiDialog-paperWidthSm-359 {
  width: 831px !important;
  max-width: 900px !important;
}
.css-10nd86i .css-2o5izw:hover{
  color: #333;
}
.css-10nd86i .css-2o5izw{
  color: #333;
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgb(33,152,188);
  min-height: 45px;
}
.css-10nd86i .css-2o5izw .css-1492t68{
  color: rgb(33,152,188);
}
.css-10nd86i .css-vj8t7z{
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0;
  border-color: #888;
  border: none;
  border-bottom: 1px solid;
  color: #888;
  font-size: 1rem;
}
.css-2o5izw .css-1492t68{
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.modal-popup {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 0;
  background-color: #fff;
  border-radius: 8px;
}
.backdrop{
  background: rgba(0, 0, 0 , 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.modal-popup h6 {
  margin-bottom: 22px;
  padding-bottom: 20px;
}
.modal-popup .btn{
  margin: 0 5px;
}
.modal-popup .btn-primary{
  background-color: rgb(33,152,188);
  border-color: rgb(33,152,188);
}
.page-header {
  margin-top: -4px !important;
  margin-left: -10px !important;
}
.page-header::after {
  content: "";
  clear: both;
  display: block
}
.css-10nd86i.normal-input.error-input:after  {
  transform: scaleX(1);
  border-bottom-color: #f44336;
}
.css-10nd86i.normal-input {
  position: relative;
}
.normal-input div div div {
  margin-left: 15px;
}
.css-10nd86i.normal-input:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid rgb(33,152,188);
  pointer-events: none;
}
.error-text {
  color: #f44336;
  font-size: 13px;
  clear: both;
}
.content-dialog{
  overflow-y: initial !important;
}
.popup-create-update > div >div {
  width: 703px !important;
  max-width: 720px;
}
.MuiTableCell-root-326:last-child {
  padding-right: 24px;
  width: 154px;
}
.MuiTableCell-body-328 {
  max-width: 393px;
}
.label-error{
  color: rgba(0, 0, 0, 0.54)
}
.error-input .css-1492t68 {
    color: red !important;
}
.backdrop .modal-footer{
  margin-right: -30px;
  margin-left: -30px;
  text-align: center;
  display: block;
  border-width: 0.5px;
}
.backdrop .btn-primary{
  color: #fff !important;
}
.backdrop .btn-default{
  background-color: #e0e0e0;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12)
}
.backdrop .btn{
  color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}
.hospital-body-card {
  margin-top: 6px !important;
  padding-bottom: 20px !important;
  margin-left: -16px !important
}
.hospital-title-header {
  align-items: baseline;
  position: relative;
}
.hospital-title-header-2 {
  align-items: baseline;
  position: relative;
}
.hospital-title-header:before {
  height: 100%;
  width: 2px;
  background: rgb(33,152,188);
  content: "";
  display: block;
  position: absolute;
  left: 50%;
}
.news-title-select > div {
  width: 100%;
}
.date-picker-style-header > div > div > div {
  top: 13px;
}
.date-picker-style-header > div > div > div > input {
  width: 200px;
  border: 1px solid #0000003b;
  height: 32px;
}
.table-responsive{
  position: relative;
  overflow-x: unset !important;
}
.date-picker-style-header > div > div > div > input:hover{
  border: 2px solid #2198bc
}

.news-title-select > div > div > div > div {
  padding: 7px 0 7px 9px !important;
  border-radius: 6px !important;
}
.error-input .css-1492t68 {
  color: red !important;
}
.disable-label {
  margin-top: 29px;
  position: relative;
  border-bottom: 1px solid #999;
  color: #999;
}
.color-secondary{
  color: rgb(33,152,188)
}
.color-default{
  color: rgb(33,152,188);
}
.row-left {
  width: 88%;
}
.row-right {
  width: 88%;
  float: right;
}
.page-wrapper table {
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 6px;
  margin-top: 20px;
  overflow: hidden;
  margin-bottom: 20px !important;
}
.page-wrapper tr td:last-child {
  border-right: 1px solid rgba(224, 224, 224, 1);
}
.page-wrapper tr th:last-child {
  border-right: 1px solid rgba(224, 224, 224, 1);
}
.kc {
  width: 13%;
  text-align: center;
  vertical-align: bottom;
  line-height: 123px;
  font-size: 16px !important;
  display: inline-block;
  height: 64px;
  color: #777;
}
.disabled-input > div {
  margin-top: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #9a9a9a;
  border-radius: 0;
}
.disable-label span {
  font-size: 14px;
}
.css-15k3avv{
  transition: 0.3s ease;
  left: 0px;
}
.MuiDialog-paperScrollPaper-759{
  overflow-y: initial !important;
  max-height: calc(100% - 21px) !important;
}
.MuiDialog-paperScrollPaper-377 {
  overflow-y: initial !important;
  max-height: calc(100% - 21px)  !important;
  padding-bottom: 20px;
}
.MuiDialog-paperScrollPaper-1126 {
  flex: 0 1 auto;
  max-height: calc(100% - 21px) !important;
  overflow-y: initial !important;
  padding-bottom: 20px;
}
.MuiDialog-paperScrollPaper-1279 {
  overflow-y: initial !important;
  max-height: calc(100% - 21px) !important;
  padding-bottom: 20px;
}
.row-check .luot-kham {
  width: 44% !important;
  float: left;
  display: block !important;
}
.col-form-25 {
  width: 50%;
  float: left;
}
.repeat:after{
  content: "";
  clear: both;
  display: table;
}
.repeat {
  width: 54% !important;
  float: left;
  padding-left: 50px;
  max-width: 100% !important;
}
.checkbox-wrapp {
  height: 70px;
  line-height: 95px;
  font-size: 16px;
  color: #777;
  overflow: hidden;
}
.col-form-25 {
  width: 45%;
  float: left;
}
.checkbox {
  opacity: 0;
  margin-top: 0;
}
.checkbox {
  opacity: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.right-item .error-text {
  float: right;
  width: 88% !important;
}
span.label-error {
  font-size: 13px;
  height: 18px;
  display: block;
  margin-top: 8px;
}
.right-item span.label-error {
  display: block;
  width: 88%;
  float: right;
}
.popup-create-update > div >div {
  width: 674px !important;
  max-width: 720px;
}
.time-item .label-time {
  position: absolute;
  top: -13px;
  left: 0;
}
.time-item.first-label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  margin-top: 0;
}
.time-item.first-label span.label-time {
  width: 50px;
  left: 3px;
  top: -5px;
}
.app-body{
  overflow-x: auto !important;
}
.btn-wrap {
  height: 50px;
}
.select-control {
  width: 49%;
  float: left;
}
.time-hospital {
  position: absolute;
  top: 204px;
  left: 0;
  padding-top: 0;
  width: 100%;
  margin-top: 0 !important;
  position: absolute;
}
.time-item{
  width: 100%;
  position: relative;
  height: 60px;
}
.time-item:after{
  content: '';
  height: 1px;
  width: 97%;
  right: 0;
  background-color: rgba(224, 224, 224, 1);
  position: absolute;
  top:0;
}
.select-control.css-10nd86i .css-2o5izw:hover{
  color: #333;
}
.select-control.css-10nd86i .css-2o5izw{
  color: #333;
  box-shadow: none;
  border: none;
  border-radius: 5px;
padding-left: 10px;
  border: 1px solid #ddd;
  min-height: 56px;
  transform:  none
}
.select-control.css-10nd86i .css-2o5izw .css-1492t68{
  color: rgb(33,152,188);
}
.next-prev-doctor {
  width: 16%;
  text-align: right;
  padding-top: 10px;
}
.next-prev-week {
  width: 40%;
  text-align: left;
  padding-top: 10px;
}
.head-schedule {
  display: flex;
  margin-left: -14px;
}
.head-schedule button span svg {
  font-size: 32px !important;
}
.view-mode {
  position: absolute;
  top: -55px;
  right: 0;
}
table thead tr, .schedule-page.schedule-daily table thead tr:first-child {
  background-color: rgb(0,89,116);
  border-top: 1px solid rgb(151,151,151);
  height: 42px !important;
}
.schedule-page.schedule-daily table thead tr{
  background: none;
}
.head-schedule button:focus {
  outline: none; 
}
.color-active {
  color: #27ad60 !important;
  font-weight: 700;
}
.click-yba {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
.modal-popup.modal-detail {
  width: 300px;
  max-height: 500px;
  overflow-y: auto;
  padding: 4px 0;
}
.modal-popup ul.content-detail {
  list-style: none;
  padding: 0;
  margin: 0;
}
.modal-detail .info-item .content-detail {
  font-weight: 700;
}
.modal-detail .info-item {
  font-weight: normal;
    font-size: 16px;
    padding: 0;
    padding: 5px 12px;
    margin-top: 0;  
}
.textarea-placeholder > textarea {
  font: inherit;
  color: currentColor;
  width: 100%;
  margin: 0;
  padding: 6px 2px 7px 12px;
  display: block;
  min-width: 0;
  box-sizing: content-box;
  background: none;
  -webkit-tap-highlight-color: transparent;
}
.group-detail .content-detail {
  margin-bottom: 0 !important;
  font-weight: 700;
}
.group-detail-colx2 .content-detail {
  margin-bottom: 0 !important;
  font-weight: 700;
}
.group-detail-colx3 .content-detail {
  margin-bottom: 0 !important;
  font-weight: 700;
}
.close-button {
  float: right;
  margin-top: -20px !important;
  margin-right: -22px !important;
  color: black !important;
}
.detail-item {
  padding-bottom: 7px;
  margin-left: 32px;
}
.modal-detail .info-item.service-item {
  background-color: #f6f9fb;
}
.modal-detail .info-item p{
  margin-bottom: 3px;
}
a.btn.btn-default {
  background-color: rgb(33,152,188);
  color: #fff !important;
  border: 1px solid rgb(33,152,188);
  border-radius: 0 5px 5px 0;
}
a.btn.btn-primay:hover {
  background-color: rgb(33,152,188);
  color: #fff !important;
  border: 1px solid rgb(33,152,188);
}
a.btn.btn-primay {
  border: 1px solid rgb(33,152,188);
  transition: 0.3s ease;
  border-radius: 5px 0 0 5px; 
}
.view-mode .btn {
  padding: 10px 30px;
}
.css-xwjg1b{
  background-color: #b2d8ff;
}
.PrimarySearchAppBar-menubutton-4 {
  color: #fff !important;
}
.PrimarySearchAppBar-box_menu-5{
  width: 220px !important;
    padding-top: 21px;
    text-align: left !important;
    padding-left: 11px;
}
.logo-csyt {
  margin-left: 20px;
  max-width: 320px;
  height: 80px;
  line-height: 80px;
}
.logo-csyt img{
  max-height: 80px
}
.page-wrapper {
  padding: 6px 30px !important;
  padding-top: 24px;
  position: relative;
  overflow-x: unset !important;
}
.page-wrapper-card {
  padding-left: 0 !important;
  position: relative;
  overflow-x: unset !important;
}
.logo-img {
  display: inline-block;
  height: 48px;
  float: left;
}
.PrimarySearchAppBar-title-8 {
  display: block;
  height: 100px;
  background-color: rgb(80, 197, 233);
}
.logo-isofh {
  height: 63px !important;
  background-color: rgb(33,152,188) !important;
  width: 240px !important;
  display: flex;
  align-items: center;
}
.color-header > header >div {
  background-color: rgb(33,152,188);
  padding: 0px !important
}
.MuiToolbar-regular-53 {
  padding-left: 0 !important;
}
.sidebar-fixed .sidebar {
  width: 240px !important;
}
html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer{
  margin-left: 240px !important;
}
.sidebar .sidebar-nav{
  width: 240px !important;
  background-color: rgb(21,43,47);
}
.sidebar .nav{
  width: 100% !important;
}
.sidebar .nav-title, .sidebar .nav-link {
  font-size: 16px;
}
.sidebar .nav-link {
  padding: 14px 0 13px 55px !important;
  transition: 0.3s ease;
  text-transform: uppercase !important;
  background-repeat: no-repeat !important;
  background-position: 15px center !important;
  font-size: 13px !important;
  font-weight: 300
}
.sidebar .nav-link2 {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    background-repeat: no-repeat !important;
    background-position: 49px center !important;
    font-size: 13px !important;
    color: white !important;
    display: block;
    font-weight: 300;
    padding: 14px 0 13px 45px !important;
    padding-left: 85px !important;
}
li.menu-left {
  list-style-type: none;
}
.icon-dropdown > span {
  margin-top: -9px !important;
}
.menu-ul{
  padding: 0;
}
li.menu-left:hover{
  background-color: #f1f5f833  !important;
  color: rgb(60,185,239) !important;
  font-weight: 700;
}
li.menu-left:active{
  background-color: #f1f5f833  !important;
  color: rgb(60,185,239) !important;
  font-weight: 700;
}
.sidebar .nav-item .nav-link:hover , .sidebar .nav .nav-link.active{
  background-color: #f1f5f833  !important;
  color: rgb(60,185,239) !important;
  text-transform: uppercase !important;
  font-weight: 700;
}
.sidebar .nav-item .nav-link2:hover , .sidebar .nav .nav-link2.active{
  background-color: #f1f5f833  !important;
  color: rgb(60,185,239) !important;
  font-weight: 700;
}
.button-primary {
  color: white !important;
  right: 12px;
  margin-left: 0 !important;
  position: absolute !important;
  z-index: 1065;
  padding: 0px !important;
  top: 12px !important;
}
.sidebar .nav-item .nav-link:hover .button-primary {
  color: rgb(60,185,239) !important;
}
.nav-link.dashboard{
  background-size: 24px !important;
}
.header-fixed.sidebar-fixed .app-body {
  margin-top: 63px !important;
}

.color-text-validator > label {
  font-weight: 600;
  font-size: 17px;
}
.grid-title-2 {
  font-weight: 400;
  font-size: 14px;
  color: black;
}
.backdrop-white .modal-popup {
  box-shadow: 0 0 7px #999;
  z-index: 999;
}
html:not([dir="rtl"]) .sidebar {
  margin-left: -240px !important;
}
 html:not([dir="rtl"]) .sidebar-lg-show .sidebar{
  margin-left:  0 !important;
}
html:not([dir="rtl"]) .sidebar-minimized .sidebar {
  width: 50px !important;
}
html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer{
  margin-left: 50px !important;
}
.over-lay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}
@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
table{
  font-family: 'Open Sans', sans-serif !important;
}
table thead th {
  font-size: 14px !important;
  font-weight: 700 !important;
  height: 42px !important;
  line-height: 33px;
}
table tbody td {
  font-size: 14px !important;
  height: 54px !important;
}
table tbody tr:nth-child(2n){
  background-color: rgb(246,249,251);
}
.user-info-table {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  padding: 20px;
}
.user-info-table .title-hospital{
  font-size: 24px;
  text-transform: uppercase;
  padding-left: 13px;
  font-weight: 700 !important;
}
.user-info-table .title-hospital.semi-bold{
  font-weight: 600;
}
.upper-case{
  text-transform: uppercase;
}
.mb-20{
  margin-bottom: 20px;
}
.news-title-date > div > div > div {
  top: 2px
}
.header-payment > h6 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -9px;
}
.hospital-detail-button {
  margin-bottom: 30px
}
.group-detail {
  background-color: #f4f4f4;
  border-radius: 6px;
  /* box-shadow: 0 1px 20px 0 #0000003d; */
  margin-bottom: 35px;
  color: black
}
.color-detail {
  background-color: #f4f4f4;
  border-radius: 6px;
}
.news-title{
  padding: 0 !important;
  margin-bottom: 18px !important;
}
.news-title-date > div > div > div > input {
  border-color: #0000003b;
  font-weight: 600;
  color: black;
}
p.name-info-hospital {
  position: absolute;
  left: 20px;
  right: 10px;
  bottom: 46px;
  color: rgb(11, 99, 126);
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}
.active-acc {
  width: 67%;
  margin: auto;
}
.user-icon{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
}
.user-icon img{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover
}
.button-change {
  background-color: #fff !important;
  box-shadow: none !important;
  font-size: 16px !important;
  text-transform: none !important;
  border: 1px solid rgb(33,152,188) !important;
  color: rgb(33,152,188) !important;
  border-radius: 3px !important;
  width: 250px;
  margin-top: 14px !important;
}
.button-change:hover{
  background-color: rgb(33,152,188) !important;
  color: #fff !important;
}
.button-change-update {
  background-color: #fff !important;
  box-shadow: none !important;
  font-size: 16px !important;
  text-transform: none !important;
  border: 1px solid #2198bc !important;
  color: #2198bc !important;
  border-radius: 3px !important;
  width: 140px;
  margin: 10px 6px !important;
}
.button-change-update:hover{
  background-color: rgb(33,152,188) !important;
  color: #fff !important;
}
.SelectValidator-style {
  margin-left: -0.2% !important;
  width: 100%;
  margin-top: 9px !important;
}
.SelectValidator-style > div {
  padding-left: 15px;
}
.text-bold {
  font-weight: 700;
  color: #4a4a4a;
}
.date-picker-style {
  position: relative;
  width: 200px;
}
.date-picker-style div:nth-of-type(2) {
  border: 0px solid #c5c5c5;
  border-radius: 5px;
  height: 32px;
  top: 13px;
  background-color: #fff;
  margin-bottom: 17px;
}
.date-picker-style div:nth-of-type(2) > div {
  height: 32px;
  padding-left: 10px;
  width: 200px;
  padding: 0 !important;
}
.date-picker-style div:nth-of-type(2) > label {
  top: -8px;
    left: 10px;
    background-color: #fff;
    padding: 0 6px;
}
.date-picker-style div:nth-of-type(2) > div::before{
  display: none !important;
}
.date-picker-style div:nth-of-type(2) > div::after{
  display:   none !important;
}
.date-picker-style button {
  right: 1px;
  margin-left: 0 !important;
  position: absolute;
  z-index: 1010;
  padding: 4px;
  top: 13px !important;
}
.date-picker-style-date input {
  font-size: 14px;
}
.style-table-new {
  margin-top: 0 !important;
}
.search-input {
  width: 100%;
  margin: 0  !important;
}
.name-bn h6 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(33,152,188);
}
.name-bn {
  padding-bottom: 6px !important;
}
.label-detail {
  font-weight: 400;
}
.group-detail:first-child {
  padding-bottom: 14px;
  margin-bottom: 35px;
  /* box-shadow: 0 1px 20px 0 #0000003d; */
}
.group-detail-colx2:first-child {
  margin: 27px 0;
  padding-right: 15px;
}
.group-detail-colx3:first-child {
  padding-bottom: 14px;
  padding-top: 8px
}
.color-border{
  border-right: 2px solid rgb(33,152,188);
}
.color-border-hospital {
  height: 99%;
}
.title-header-hospital {
  color: #2198bc;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  font-size: 20px !important;
}
.isofh-pay-button-card-user {
  background-color: #f5a623 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  padding: 6px 40px !important;
  text-transform: unset !important;
}
.isofh-pay-button-cancel {
  text-transform: unset !important;
  font-size: 18px !important;
  padding: 6px 40px !important;
}
.button-upload {
  color: rgb(39,174,96) !important;
  text-transform: initial !important;
  font-weight: 700 !important;
  margin-top: -8px !important;
  margin-left: 7px !important;
}
.hospital-padding {
  padding: 4px !important;
  padding-left: 26px !important;
}
.hospital-padding-style-1{
  display: flex;
  align-items: end;
}
.hospital-padding > span {
  padding: 0 !important;
}
.hospital-body {
  margin-top: 6px !important;
  padding-left: 20px !important;
}
.hospital-name {
  margin-left: 15px;
}
.hospital-header {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 8px;
}
.hospital-header-card {
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 14px;
}
.name-file {
  color: #2198bc;
  font-weight: 600;
  word-break: break-all;
  text-decoration: underline;
  cursor: pointer;
}
.file-upload {
  margin-bottom: auto;
  margin-left: -5px !important;
}
.user-create-header {
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 10px !important;
}
.payment-agent-body {
  padding-left: 70px !important;
  padding-right: 70px !important;
}
.hospital-title {
  color: #2198bc;
  font-weight: 700;
  padding: 0 !important;
  margin-top: 8px !important
}
.hospital-title-2 {
  font-size: 18px !important;
  font-weight: 600 !important;
}
.hospital-title-left {
  padding-left: 28px !important
}
.hospital-title-header-2 {
  padding: 0px 0px 22px 35px;
}
.isofh-pay-recharge-header {
  margin-top: 7px;
}
.hospital-title-header-2 {
  padding: 0px 0px 48px 40px;
}
.isofh-pay-recharge-index {
  background-color: #f4f4f4 !important;
  border-radius: 6px !important;
  padding: 20px 23px 19px 18px !important;
}
.recharge-item-1 {
  padding: 0px 0px 6px 0px !important;
}
.recharge-item-2 {
  padding: 0px 0px 6px 0px !important;
  font-weight: 700 !important;
}
.recharge-border-top {
  border-top: 1px solid #2198bc;
  padding-top: 15px !important;
}
.recharge-border-bottom {
  padding-bottom: 26px !important
}
.recharge-color {
  color: #27ae60;
}
.recharge-item-3 {
  padding: 0 !important
}
.recharge-item-3 > textarea {
  border-radius: 6px !important;
}
.recharge-button-cancel {
  background-color: #ffff !important;
  border: 1px solid #97979796 !important;
  box-shadow: 0px 4px #00000029 !important;
  padding: 8px 34px !important;
  font-size: 18px !important;
  text-transform: none !important;
}
.recharge-button-submit {
  text-transform: none !important;
  font-size: 18px !important;
  box-shadow: 0px 4px #00000029 !important;
  padding: 9px 50px !important;
  margin-left: 12px !important;
  cursor: pointer;
}
.color-rechange {
  background-color: #27ae60 !important;
  color: #fff !important;
}
.title-bottom {
  margin-bottom: 20px !important
}
.popup-detail > div > div {
  width: 783px !important;
  padding: 20px;
}
.name-bn {
  padding-bottom: 6px !important;
  padding-top: 0 !important;
}
.page-wrapper > div {
  background-color: #2198bc1f;
}
.button-new {
  color: #fff !important;
  font-weight: 600 !important;
  text-transform: none !important;
  font-family: 'Open Sans', sans-serif !important;
  background-color: rgb(39,174,96) !important;
  height: 36px;
  font-size: 14px !important;
  font-feature-settings: "smcp", "c2sc";
  font-variant: all-small-caps;
  padding: 0px 14px !important;
  margin-top: 14px !important;
  margin-bottom: 18px !important;
  border-radius: 6px !important
}
.header-search {
  text-align: left;
  padding: 0 !important;
  margin-bottom: 10px !important;
  display: flex !important;
}
.header-search-card {
  margin-bottom: 0 !important
}

.tool-bar label {
  top: -1px !important;
  font-size: 16px !important;
  left: 10px;
  background-color: #fff !important;
}
.tool-bar 
.input-text label {
  top: -2px !important;
  left: 0 !important;
}
h2.title-page {
  text-align: left;
  padding: 4px 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: -10px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: rgb(8,114,146);
  margin-right: 2%;
  margin-bottom: 14px;
  margin-top: 18px
}
.head-fillter {
  padding: 20px 40px;
}
.input-group-inner {
  position: relative;
}
.input-group-inner input.form-control {
  background: none !important;
  height: 54px;
  border: 1px solid #646765 !important;
  border-radius: 6px;
  color: #4a4a4a !important;
}
.input-group-inner input.form-control:focus{
  outline: none !important;
  box-shadow: none !important;
}
.color-text-validator-disabled > div > input {
  background-color: #2198bc24 !important;
  border: 1px solid #2198bc24 !important
}
.input-group-inner input.form-control {
  background: none !important;
  border: none;
  padding: 0 15px;
  bottom: 0;
  color: rgb(33,152,188) !important;
  position: relative;
  font-size: 18px;
}
.login-page {
  background-color: #fff
}
.row-login {
  box-shadow: 0 0 16px #c1c0c1;
  border-radius: 12px;
  max-width: 1024px;
  margin: auto !important;
}
span.input-group-label {
  position: absolute;
  top: -6px;
  z-index: 99;
  font-size: 16px;
  left: 25px;
  background-color: #fff;
  line-height: 12px;
  color: #4a4a4a;
}
.default-header-title{
  align-items: center;
}
.input-group-inner {
  position: relative;
  margin-top: 33px;
}
.icon-dropdown {
  height: 35px;
  width: 35px;
  background: rgb(21, 152, 192) !important;
  margin-right: 16px !important;
}
.icon-dropdown:hover {
  background: rgb(43, 144, 175) !important;
}
.icon-dropdown:focus{
  outline: 0;
}
.input-image {
  width: 91%;
  margin-left: 9%;
  border: 1px solid darkgray;
  margin-top: -6.5%;
  padding: 7px;
  border-radius: 5px;
  height: 42px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-right {
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
  margin: 0 5px;
  font-size: 16px;
}
.css-page {
  background-color: rgb(33,152,188) !important;
  border-radius: 0px !important;
  width: 32px !important;
  height: 32px !important;
  margin-right: 1px !important
}
.css-page > span > svg {
  margin-top: -7px !important;
  color: #fff
}
input.input-page {
  width: 48px;
  height: 30px;
  margin-left: 8px;
  vertical-align: middle;
  border: 1px solid #fff;
  padding: 8px;
  font-size: 13px !important;
  font-weight: 700;
  color: black;
  text-align: center
}
.title-popup {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
span.page-size {
  font-size: 13px !important;
  font-weight: 700;
  color: black;
  min-width: 36px;
  height: 45px;
  display: inline-block;
  line-height: 45px;
  text-align: center;
}
.pagination-custom > td > div {
  height: 32px !important;
  padding: 0 !important;
  min-height: 32px !important;
}
.name-csyt-top {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.color-text-validator > p {
  margin-left: -2.5px !important;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px !important;
}
.input-group-inner input:-webkit-autofill {
  background: none !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}
.input-group-inner input.form-control {
  background: none !important;
  border: none;
  padding: 0 15px;
  bottom: 0;
  position: relative;
}
.error-dob {
  font-weight: 600;
  color: #f44336;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px !important;
  padding-top: 9px;
  min-height: 1em;
  line-height: 1em;
}
.file-padding{
  padding-right: 18px;
}
.error-dob3 {
  font-weight: 600;
  color: #f44336;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px !important;
  padding-top: 9px;
  margin-left: 15px !important;
  min-height: 1em;
  line-height: 1em;
}
.left-form, .right-form {
  float: left;
  width: 50%;
}
.right-form.form-item {
  background-color: #fff;
  padding: 78px 70px;
  border-radius: 0 10px 10px 0;
}
.register-link {
  display: block;
  height: 100%;
  line-height: 60px;
}
.form-item p.text-muted {
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #4a4a4a !important;
}
.form-item input::placeholder{
  color: #00000036 !important;
  font-size: 18px;
}
.login-page{
  background-image: url('/images/bg1.png');
}
.form-item a.register-link {
  color: #4a4a4a;

}
.slide-table  .owl-item {
  height: 270px;
  line-height: 270px
}
.slide-table .owl-carousel .owl-item img {
  display: inline-block;
  width: 100%;
}
.card.text-white.left-form.form-item {
  height: 585px;
  background-image: url(/images/bitmap.png);
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  border-radius: 10px 0 0 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.content-inner{
  padding-left: 35px;
  padding-right: 35px
}
.content-inner-2{
  padding-left: 45px;
  padding-right: 45px
}
.margin-button {
  margin-bottom: 30px !important;
  justify-content: center !important;
}
.grid-title {
  font-weight: 400;
  font-size: 14px;
  color: black;
  padding: 0 !important;
}
.payment-agent {
  margin-left: 31px !important
}
.payment-agent p,h1,h2{
  margin: 0;
}
.payment-agent .main-info .main-info-item{
  padding-top: 16px;
  clear: both;
}
.payment-agent .main-info .main-info-item .main-title{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 19px;
}
.payment-agent .list-bank{
  clear: both;
}
.payment-agent .list-bank .bank-item{
  width: 294px;
  height: 155px;
  border-radius: 6px;
  padding: 1px 1px 0 1px;
  float: left;
  margin-right: 26px;
  margin-bottom: 15px;
  background: linear-gradient(to right, #3927b0, rgb(127, 73, 195));
}
.payment-agent .list-bank .bank-item-method{
  width: 294px;
  height: 148px;
  border-radius: 6px;
  padding: 1px 1px 0 1px;
  float: left;
  margin-right: 26px;
  margin-bottom: 15px;
  box-shadow: 0 1px 8px 0 #00000033;
}
.payment-agent .list-bank .bank-item .bank-top{
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  padding: 6px 11px;
  display: flex;
  justify-content: space-between;
}
.payment-agent .list-bank .bank-item-method .bank-top{
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  padding: 6px 11px;
  display: flex;
  justify-content: space-between;
}
.payment-agent .list-bank .bank-item-method .bank-top-method{
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  padding: 6px 11px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #3927b0, rgb(127, 73, 195));
  height: 64px;
}
.payment-agent .list-bank .bank-item .bank-top .bank-img {
  max-width: 91px;
  max-height: 49px;
  object-fit: scale-down;
}
.payment-agent .list-bank .bank-item .bank-top .bank-right{
  text-align: right;
  padding-top: 6px;
}
.payment-agent .list-bank .bank-item-method .bank-top-method .bank-img{
  max-width: 69px;
  max-height: 44px;
  margin-top: 3px;
}
.payment-agent .list-bank .bank-item-method .bank-top-method .bank-right{
  text-align: right;
  padding-top: 11px;
}
.news-title-date >.form-group {
  width: 100%;
}
.news-title-date >.form-group>.react-datepicker-wrapper {
width: 100%;
}
.news-title-date >.form-group>.react-datepicker-wrapper>.react-datepicker__input-container {
width: 100%;
}
.payment-agent .list-bank .bank-item .bank-right .bank-type{
  font-size: 13px;
  color: rgb(0, 0, 0);
  padding-top: 5px;
}
.payment-agent .list-bank .bank-item .bank-type .bank-active{
  color: rgb(39, 174, 96);
  font-weight: 700;
}
.payment-agent .list-bank .bank-item .bank-info{
  padding: 11px 10px 20px 16px;
  height: 54px;
}
.payment-agent .list-bank .bank-item .bank-info .bank-title {
  font-size: 19px;
  font-weight: 700;
  color: rgb(60, 185, 239);
  margin-top: 11px;
  text-transform: uppercase;
}
.payment-agent .list-bank .bank-item .bank-info .bank-inner {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  margin-top: -6px;
}
.payment-agent .list-bank .bank-item-method .bank-type{
  font-size: 14px;
  color: white;
  padding-top: 13px;
  font-weight: 700;
}
.payment-agent .list-bank .bank-item-method .bank-info{
  padding: 11px 10px 20px 16px;
  height: 54px;
}
.payment-agent .list-bank .bank-item-method .bank-info .bank-title{
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.payment-agent .list-bank .bank-item-method .bank-info .bank-inner{
  font-size: 14px;
  color: rgb(33,152,188);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-weight: 700;
}
.payment-agent .list-bank .bank-inactive{
  background: rgb(155, 155, 155) !important;
}
.payment-agent .list-bank .bank-inactive .bank-type .bank-active {
  color: rgb(208, 2, 27);
}
.payment-agent .list-bank .bank-inactive .bank-info .bank-title,
.payment-agent .list-bank .bank-inactive .bank-info .bank-inner {
  color: #000;
}
.form-item a {
  color: rgb(33,152,188);
}
::placeholder {
  font-weight: 400 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: 400 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  font-weight: 400 !important;
}
.card.text-white.left-form.form-item {
  height: 600px;
}
.fogot-pass {
  text-align: right;
  margin-top: 8px;
  margin-bottom: 40px;
}
.checkbox-popup {
  margin-top: -11px !important;
  margin-bottom: 5px !important;
  margin-left: -22px !important;
}
.button-detail-user-card {
  font-size: 13px !important;
  font-weight: 700;
}
.color-border-user-card {
  border-right: 2px solid rgb(33,152,188);
  margin: 20px 0px;
}
.news-title-select {
  padding: 0 !important;
  margin-bottom: 18px !important;
}
.grid-title-2-disabled {
  background-color: #2198bc24;
  border-radius: 6px;
  height: 32px;
  padding: 5px 12px!important;
  font-weight: 600;
  margin-bottom: 18px !important;
}
button.button-new.btn-login {
  width: 200px;
  height: 54px;
  margin-top: 0 !important;
}
.button-date {
  position: absolute !important;
  margin-top: 0 !important;
  right: 0;
}
.button-new-submit {
  color: #fff !important;
  font-weight: 700 !important;
  text-transform: none !important;
  font-family: 'Open Sans', sans-serif !important;
  background-color: rgb(39,174,96) !important;
  height: 36px;
  font-size: 18px !important;
  font-feature-settings: "smcp", "c2sc";
  font-variant: all-small-caps;
  border-radius: 6px !important;
  padding-top: 1px !important;
}
.width-custom {
  position: relative;
}
.table-service {
  width: 100% !important;
  min-width: 100% !important;
}
.color-tags {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px
}
.color-tags  span span{
  color: white;
  background-color: rgb(17, 149, 175);
  border-radius: 4px;
  border: 1px solid rgb(33,152,188);
  margin-left: 5px;
  margin-right: 0px
}
.react-tagsinput--focused {
  border-color: rgb(33,152,188) !important;
}
.react-tagsinput-input {
  width: 300px !important;
  margin-bottom: 4px;
  margin-top: 5px !important;
  padding: 5px;
}
.select-style > div > div {
  padding: 10px;
}
.news-title div div input {
  padding: 7px 7px 6px 12px;
  font-size: 14px;
  font-weight: 600 !important;
  overflow: hidden;
  text-overflow: ellipsis;
} 
.news-title div {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  /* width: 100%; */
  display: flex;
}
.news-title-date {
  padding: 0 !important;
  margin-bottom: 18px !important;
}
.card-search-date {
  margin-bottom: 0 !important;
  margin-right: 15px !important;
  margin-top: 5px
}
.card-search-date > div {
  margin-bottom: 0 !important
}
.card-search-text {
  vertical-align: middle !important;
}
.card-search-text > div {
  margin-bottom: 4px !important
}
.grid-title-2 {
  padding: 0 !important;
}
.slide-title div div input{
  padding: 10.5px 14px;
}

.slide-title div div div div{
  padding: 10.5px 14px;
}

.search-input-custom {
  margin-left: 0px !important;
  background-color: #fff;
  margin-right: 14px !important;
}
.search-type {
  display: inline-block;
  padding-bottom: 6px;
  padding-top: 8px;
}
.search-type-2 {
  display: inline-block;
  padding-bottom: 8px;
  padding-top: 8px;
}
.page-title {
  background-color: white !important;
  display: -webkit-box;
}
.search-name {
  font-size: 12px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: -7px;
  margin-left: 2px;
}
.custom-input-width {
  width: 150px !important;
}
.search-input-custom > div {
  height: 32px;
  font-size: 14px;
  padding: 9px;
}
.date-picker-style-date {
  display: block !important;
}
.select-style {
  background-color: #fff;
  height: 32px;
  margin-top: 7px;
  margin-right: 14px !important;
}
.trim-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-name-table{
  max-width: 170px ;
  text-overflow: ellipsis;
}
.history-font{
  font-weight: 700 !important;
}
.color-active {
  color: #27ad60 !important;
}
.color-inActive {
  color: #d0021b !important;
}
.name-user {
  font-weight: 700;
  text-transform: uppercase;
}
.hospital {
  margin-left: 31px !important;
  margin-top: 25px !important;
}
.hospital p,h1,h2{
  margin: 0;
}
.hospital .main-info .main-title{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 19px;
}
.hospital .list-bank{
  clear: both;
}
.hospital .list-bank .bank-item{
  width: 294px;
  height: 264px;
  position: relative;
  border-radius: 6px;
  padding: 1px 1px 0 1px;
  float: left;
  margin-right: 26px;
  margin-bottom: 33px;
  background: linear-gradient(to right, #3927b0, rgb(127, 73, 195));
}
.hospital .list-bank .bank-item .bank-top{
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  padding: 6px 11px;
  justify-content: space-between;
  height: 124px;
  position: relative
}
.hospital .list-bank .bank-item .bank-top .bank-top-header{
  display: flex;
}
.hospital .list-bank .bank-item .bank-top .bank-top-header .bank-img {
  max-width: 206px;
  max-height: 61px;
}
.hospital .list-bank .bank-item .bank-top .bank-top-header .bank-right{
  text-align: right;
  padding-top: 6px;
  margin-left: auto;
}
.hospital .list-bank .bank-item .bank-right .bank-type{
  font-size: 13px;
  color: rgb(0, 0, 0);
  padding-top: 5px;
}
.hospital .list-bank .bank-item .bank-type .bank-active {
  color: #27ae60;
  font-weight: 700;
  font-size: 13px !important;
  margin-top: -5px;
}
.hospital .list-bank .bank-item .bank-type .bank-name {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px !important
}
.bank-type-name {
  position: absolute;
  bottom: 11px;
}
p.bank-type {
  margin-top: -4px !important;
  font-size: 13px;
  color: rgb(0, 0, 0);
  padding-top: 5px;
}
.hospital .list-bank .bank-item .bank-info {
  padding: 10px 10px 20px 16px;
  position: relative;
  cursor: pointer;
}
.hospital .list-bank .bank-item .bank-info .bank-title {
  font-size: 13px;
  font-weight: 700;
  color: white;
}
.hospital .list-bank .bank-item .bank-info .bank-inner {
  font-size: 13px;
  color: rgb(255, 255, 255);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-weight: 400 !important;
}
.hospital .list-bank .bank-item .bank-footer {
  cursor: pointer;
  color: #20a8d8;
  text-decoration: underline;
  font-weight: 600;
  margin-left: 16px;
  position: absolute;
  bottom: 8px;
  font-size: 13px;
}
.hospital .list-bank .bank-inactive{
  background: rgb(155, 155, 155) !important;
}
.hospital .list-bank .bank-inactive .bank-type .bank-active {
  color: rgb(208, 2, 27);
}
.hospital .list-bank .bank-inactive .bank-info .bank-title,
.hospital .list-bank .bank-inactive .bank-info .bank-inner {
  color: #000;
}
.hospital .list-bank .bank-inactive .bank-footer{
  color: #000;
}
.select-style-search-down > div > div {
  padding: 10px;
}
.select-style-search-down {
  background-color: #fff;
  height: 32px !important;
}
.select-style-width {
  width: 110px !important;
}
.select-style-width-2 {
  width: 122px !important;
}
.search-input-custom-width{
  width: 105px !important;
}
.search-input-custom-width-2{
  width: 172px !important;
}
.search-input-custom-width-3{
  width: 230px !important;
}
.font-size-hospital {
  font-size: 12px !important
}
.detail-bottom {
  margin-bottom: 30px !important;
  color: black;
}
.detail-bottom-2 {
  margin-bottom: 20px !important;
  color: black;
}
.title-detail-history {
  color: #087292;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.isofh-pay-title-recharge > h6 {
  font-size: 24px !important;
  font-weight: 700 !important;
}
.isofh-pay-img-logo {
  margin: 8px 20px 0px 0px;
}
.name-history {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  margin-bottom: 10px;
  margin-top: 12px;
  background-color: white !important;
}
.transaction-history {
  margin-top: 6px;
  background-color: white !important;
}
.transaction-history .chon-history {
  display: inline-table;
  background-color: white !important;
}
.transaction-history .div_content{
	box-shadow: 1px 5px 20px #88888888;
	margin: 10px;
}
.transaction-history .div_content:after {
    clear: both;
    display: block;
    content: "";
}
.transaction-history .chon{
	width: 440px;
}
.hospital-bank-index {
  font-size: 12px;
  color: black;
  font-weight: 700 !important;
  text-decoration: underline;
  cursor: pointer;
}
.hospital-bank-item {
  margin-left: 12px;
}
.transaction-history .title_left{
	padding-top: 10px;
	padding-left: 5px;
	margin-bottom: 10px;
	color: #087292;
	font-weight: 600;
	font-size: 20px
}
.transaction-history .logo_anh{
	border: 1px solid #a59797;
    border-radius: 7px;
    width: 100%;
    height: 100%;
}
.transaction-history .div_anh{
	width: 200px; 
	height: 72px; 
	float: left;
	margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}
.transaction-history .dhy{
	border: 3px solid #27ae60;
}
.transaction-history .bank_name{
	background: #2198bc;
    color: #fff;
    font-weight: 800;
    width: 200px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 5px 10px;
    margin-bottom: 0px;
    font-size: 14px;
}
.transaction-history .khothe_detail{
	width: 200px;
	 height: 146px;
	  background: #405771;
	   float: left; 
	   margin-left: 5px ;
	   margin-right: 5px;
	   border-radius: 7px;
	   margin-bottom: 10px;
}
.transaction-history .detail_the{
	width: 100%;
	font-size: 14px;
}
.transaction-history .style_1{
	color: #50e3c2;
}
.transaction-history #r1, #r2, #r4  {
	padding-left: 10px;
}
.transaction-history #r1_2, #r2_2, #r4_2 {
	font-weight: bold;
}
.transaction-history .style_2{
	color: #ffffff;
}
.transaction-history .style_3{
	color:#3cb9ef;
}
.select-style-2 {
  height: 34px !important;
}
.transaction-history .check_box{
	position: absolute;
	top: 5px;
    right: 5px;
   }
   tr td{
   	font-size: 13px;
   }
.card-option {
  display: none !important;
}
.card-option-2 {
  width: 100%;
  height: 100%;
}
.card-create-popup {
  margin-top: -26px !important;
  margin-bottom: 8px !important;
}
.card-create-title-popup {
  margin-right: 14px;
}
.detail-card-max-wight > div > div {
  max-width: 750px !important;
  min-width: 700px !important;
}
.payment-agent-title-left {
  padding-right: 30px;
}
.payment-agent-title-right {
  padding-left: 35px
}
.payment-agent-method-left {
  padding-bottom: 25px !important
}
.react-datepicker-popper {
  position: relative;
  overflow-x: unset !important;
}
.paymentMethod-item {
  display: flex;
  align-items: flex-start;
}
.paymentMethod-index {
  padding: 0 !important;
  padding-bottom: 10px !important;
}
.paymentMethod-item > span {
  padding: 0 !important;
}
.paymentMethod-title {
  padding-left: 20px
}
.detail-item-left {
  padding-left: 18px !important;
}
.dob-user-admin {
  margin-bottom: 25px !important;
  padding: 0 !important;
}    
.detail-left-index{
  padding-left: 20px
} 
.payment-method-detail {
  padding-left: 0 !important
}
.detail-index {
  padding: 4px 0px 2px 22px;
}
.upload-image-create {
  width: 30px;
  margin: auto;
  cursor: pointer;
}
.header-box {
  box-shadow: 0px 0px !important;
}
.style-table-new-his-hospital{
  box-shadow: 0px 1px 6px #0000003d;
}
.style-table-new-his-hospital > thead > tr {
  background-color: #53657b !important;
}
.select-group.form-group {
  margin: 0px !important;
  margin-right: 15px !important;
  margin-top: 15px !important;
}
.isofh-ui-select .select__control {
  min-height: 32px!important;
  max-height: 32px!important;
}
.isofh-ui-select {
  height: 32px;
  color: #000 !important;
}
.select__value-container {
  padding: 1px 15px 2px 10px!important;
}
.select__placeholder {
  top: 15px !important;
}
.select-box-search {
  width: 215px !important;
}
.select__indicator .select__dropdown-indicator {
  padding: 5px !important
}
.select__indicator-separator {
  margin-top: 6px !important;
}
.select__dropdown-indicator {
  padding: 1px 7px !important;
}
.select-title-search {
  margin-top: 7px;
  margin-bottom: -14px;
}
.search-card-date-box {
  margin-bottom: 20px;
}
.card-create-popup-2 {
  margin-top: -20px !important;
  margin-bottom: 8px !important;
}
.data-nul {
  margin: 6px !important;
}
.card-header {
  margin: 0 !important
}
@media (max-width: 1600px){
.button-change {
  background-color: #fff !important;
  box-shadow: none !important;
  font-size: 13px !important;
  text-transform: none !important;
  border: 1px solid rgb(33,152,188) !important;
  color: rgb(33,152,188) !important;
  border-radius: 3px !important;
  width: 175px;
  height: 33px;
}
.date-picker-style-date {
  width: 200px !important;
}
.select-style {
  width: 202px !important;
}
.select-style-width {
  width: 60px !important;
}
.select-style-width-2 {
  width: 85px !important;
}
.search-input-custom-width{
  width: 80px !important;
}
.search-input-custom-width-2{
  width: 112px !important;
}
.search-input-custom-width-3{
  width: 180px !important;
}
}
@media (max-width: 1400px){
  .select-style {
    width: 202px !important;
  }  
  .button-change {
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 10px !important;
    text-transform: none !important;
    border: 1px solid rgb(33,152,188) !important;
    color: rgb(33,152,188) !important;
    border-radius: 3px !important;
    width: 134px;
    height: 30px;
    margin-top: -7px !important;
  }  
.select-style-width {
  width: 60px !important;
}
.select-style-width-2 {
  width: 80px !important;
}
.search-input-custom-width{
  width: 75px !important;
}
.search-input-custom-width-2{
  width: 95px !important;
}
.search-input-custom-width-3{
  width: 140px !important;
}
}
@media (max-width: 1400px){
  .next-prev-week {
    width: 47%;
  }
  .news-title-date > div > div > div > input {
    border-color: #0000003b;
    font-weight: 600;
    color: black;
  }
  .select-style-width {
    width: 50px !important;
  }
  .select-style-width-2 {
    width: 65px !important;
  }
  .search-input-custom-width{
    width: 65px !important;
  }
  .search-input-custom-width-2{
    width: 75px !important;
  }
  .search-input-custom-width-3{
    width: 70px !important;
  }
}
@media (min-width: 992px){
  .select-style {
    width: 202px !important;
  } 
  .news-title-date >.form-group {
    width: 100%;
}
.news-title-date >.form-group>.react-datepicker-wrapper {
  width: 100%;
}
.news-title-date >.form-group>.react-datepicker-wrapper>.react-datepicker__input-container {
  width: 100%;
}
  .news-title-date > div > div > div > input {
    border-color: #0000003b;
    font-weight: 600;
    color: black;
  }
}