.image-modal {
    margin-left: 15px;
    .title-modal {
        font-size: 14px !important;
        padding-top: 3px;
    }
    .body-modal {
        padding: 0px 0px 6px 13px !important;
        .image-update {
            height: auto;
            width: calc(100% - 15px);
            max-width: 300px;
        }
        .upload-image-create {
            width: 30px;
            margin: auto;
            cursor: pointer;
        }
    }
    
    
}